.chargesBody {
	background-color: #f7f7f7;
	padding: 0 72px 64px 72px;
}

.chargesBody > div {
	display: flex;
	justify-content: flex-end;
	margin-top: 64px;
    margin-bottom: 40px;
}

.chargeStatus {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
}

.chargeStatus img {
	margin-right: 8px;
}

.statusPago {
	color: #4EC06E;
}

.statusPendente {
	color: #5197B5;
}

.statusVencido {
	color: #FF4D4D;
}