.buttons {
    display: flex;
}

.buttons button {
    font-weight: 600;
    font-size: 0.875em;
    color: #f7f7f7;
    padding: 11px 60px 11px 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
}

.buttons .validAcess {
    background: #da0175;
}

.buttons .invalidAcess {
    background: rgba(218, 1, 117, 0.35);
}

.buttons .buttonWithoutBackground {
    background: #ffffff;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
    border: 1.5px solid #da0175;
    color: #da0175;
}

button:focus {
    outline: none;
}
