.inputValor {
	border: 1px solid #374952;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

label .inputValor input {
	border: none;
}

label .inputValor span {
	margin-bottom: 0;
	font-weight: 400;
	font-size: 0.75rem;
}