.homeBody {
    height: 100%;
    background-color: #f7f7f7;
    padding: 48px 170px 60px 72px;
}

.homeBody > header {
    border-bottom: 1px solid black;
    padding: 16px 0 0 0;
    font-size: 1em;
    font-weight: 400;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: -16px;
}

.homeBody a {
    text-decoration: none;
    font-size: 1em;
    color: #667e87;
    font-weight: 400;
    padding: 16px;
    position: relative;
}

.homeBody a::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #263238;
    border-radius: 8px;
    display: none;
    position: absolute;
    width: 100%;
    bottom: -3px;
    left: 0;
}

.homeBody a.select::after {
    display: block;
}

.homeBody a.select {
    color: #263238;
}

.homeBody main {
    display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.card {
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	flex: 0 1 410px
}

.card header {
    background-color: #374952;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 16px 16px 0px 0px;
    color: #fff;
    font-weight: 600;
    font-size: 1.25em;
}

.card header div {
    display: flex;
    align-items: center;
}

.card header div img {
    margin-right: 16px;
}

.card section {
    padding: 40px 72px 40px 72px;
}

.result {
    border: 2px solid;
    border-radius: 8px;
    padding: 18px 24px 18px 16px;
    margin-bottom: 16px;
    display: flex;
	font-weight: 600;
	justify-content: space-between;
	align-items: center;
}

.result div {
    font-size: 0.875em;
}

.result span {
    font-size: 2.25em;
}

.green {
    border-color: #4ec06e;
    color: #4ec06e;
}

.red {
    color: #ff4d4d;
    border-color: #ff4d4d;
}

.blue {
    color: #5197b5;
    border-color: #5197b5;
}
