.sidebar {
    background-color: #263238;
    height: 100vh;
    width: 264px;
    padding: 32px 0 32px 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
}

.sidebar .logoCubosWhite {
    margin-left: 48px;
    margin-bottom: 58px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 47px;
    padding-left: 48px;
}

.sidebar a:hover {
    background-color: #374952;
}

.imgBoxSidebar {
    width: 24px;
    display: flex;
    justify-content: center;
    margin-right: 16px;
}

.sidebar > .buttons {
    justify-content: center;
}
