.valueEndExpiresDate {
	display: flex;
	justify-content: space-between;
}
.valueEndExpiresDate label {
	/* flex: 1 1 auto; */
}

.selectCreatCharge select{
	border-radius: 8px;
	height: 2.5rem;
}

.valueEndExpiresDate label:first-child {
	margin-right: 16px;
}

.valueEndExpiresDate div:first-child {
	flex: 0 2 auto;
}

.valueEndExpiresDate div:last-child {
	flex: 2 1 auto;
}

.customerAndChargeScreenBox form .buttonsSpaceCreateCharges {
	display: flex;
	justify-content: flex-end;
}

.customerAndChargeScreenBox .buttonsSpaceCreateCharges .buttons button {
	margin-left: 16px;
}

.valueEndExpiresDate div input:focus {
	outline: none;
}